{% extends "base_template.html" %}
{% block head %}Nuevo pedido{% endblock %}
{% block titulo %}Nuevo pedido{% endblock %}
{% block contenido %}
    <form action="{{ url_for('nuevo_pedido') }}" method="post">
        <label for="mesa">Numero de mesa</label>
        <input type="number" name="mesa" value="{{ num_mesa }}" min="1" max="10"/><br>
        <table>
            <thead>
                <tr>
                    <th colspan=2>Carta</th>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td align="center"><button class="clickable" name="nombre" value="{{ producto.nombre }}">{{ producto.nombre }}</button></td>
                        <td>{{ producto.precio_unitario }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <textarea name="observacion" placeholder="Observaciones...">{{ observacion }}</textarea>
        <br><br>
        {% if items :%}
            <input type="submit" value="Finalizar pedido" formaction="{{ url_for('envio_pedido') }}"/>
        {% endif %}
    </form>
    {% if items :%}
        <div class="container">
            <h3>Items seleccionados</h3>
            <ul>
                {% for item in items %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
