{% extends "base_template.html" %}
{% block head %}Preparación de pedidos{% endblock %}
{% block titulo %}Preparación de pedidos{% endblock %}
{% block contenido %}
    <h3>Lista de pedidos</h3>
    <form action="{{ url_for('preparacion_items') }}" method="post">
        {% for pedido in pedidos %}
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pedido.items %}
                      <tr>
                          <td>
                              {% if item.estado == "Pendiente" %}
                                  <button class="clickable" name="item" value="{{ item.num_item }}">{{ item.producto.nombre }}</button>
                              {% else %}
                                  {{ item.producto.nombre }}
                              {% endif %}
                          </td>
                          <td>{{ item.estado }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if pedido.observacion :%}
                <p><b>Observacion: </b>{{ pedido.observacion }}</p>
            {% endif %}
            <br>
        {% endfor %}
    </form>
{% endblock %}